<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.test.mapper.CsdnEntityMapper">

    <insert id="insert">
        insert into csdn_entity (title, content, author, sex)
            values (#{title}, #{content}, #{author}, #{sex})
    </insert>
</mapper>
